.photoViewer {
	margin: 10px 0 20px 0;
	padding: 110px 0 110px 0;
	position: relative;
	background-color: #161616;
	border: 1px solid #444;
	color: #EEE;
	a { 
		color: #EEE;
	}
	.image {
		text-align: center;
		 > div { // [prev] -- [photo] -- [next]
			display: inline-block;
			vertical-align: middle;
		}
		.imageWrapper {
			margin: 0 10px 0 10px;
			position: relative;
			height: 640px;
			width: 640px;
			white-space: nowrap;

			img {
				border: 1px solid #444;
			}
		 	.helper {
		    	display: inline-block;
		    	height: 100%;
		    	vertical-align: middle;
		    }
		    .imageInnerWrapper {
				vertical-align: middle;
				display:inline-block;
			}
			.photoButtons {
				position: absolute;
				right: 0;
				ul {
					padding: 0.3em;
					margin: 0;
					float: right;
					li {
						list-style: none;
						display: inline-block;
						padding: 3px 5px 0 5px;
					}
				} 
			}
			.info {
				padding-top: 0.5em;
				display:block;
				margin:auto;
				max-width: 640px;
				.title { 
					font-weight: bold;
				}
			}
	    }
		.next, .prev {
			cursor: pointer;
			-moz-user-select: -moz-none;
		   -khtml-user-select: none;
		   -webkit-user-select: none;
		   /*
		     Introduced in IE 10.
		     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
		   */
		   -ms-user-select: none;
		   user-select: none;
		}
	}
	.closeButton {
		position:absolute;
		top: 0.6em;
		right: 0.6em;
	}
	
	@media screen and (max-width: $break-medium) {
		padding: 0;
		.image {
			.imageWrapper {
				width: auto;
				height: auto;
				margin: 0;
				.imageInnerWrapper .photoButtons {
					display: none;
				}
				img {
					width: 100%;
				}
			}
			.next, .prev {
				position:absolute;
				bottom: 1em;	
				font-size: 3rem;			
			}
			.next {
				left: 75%;
			}
			.prev {
				left: 25%;
			}
		}
		.closeButton {
			font-size: 2.5rem;
		}
	}

}
