@import "_basic";
@import "_species";
@import "_genus";
@import "_family";

$sidebar-width: 35%;
$sidebar-title-height: 3rem;

body{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#app{
	width:100%;
	.mainContainer {
		width:100%;
		> * {
			display:inline-block;
			vertical-align: text-top;
		}
	}
}

.content {
	position:fixed;
	z-index: 0;
	left: $sidebar-width;
	width: 100% - $sidebar-width;
	height: 100%;
	overflow-y: scroll;
	> *:not(.default) {
		>*:not(.photoViewer) {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	-webkit-transition: width 0.25s ease-out, left 0.25s ease-out; /* Safari */
    transition:  width 0.25 ease-out, left 0.25s ease-out;
    > * {
    	-webkit-transition: padding-top 0.33s ease-out;
    	transition: padding-top 0.33s ease-out;
    }
}

.default {
	height: 100%;
	font-size: 2rem;
	background: repeating-linear-gradient(
	  45deg,
	  rgba(0, 0, 0, 0.05),
	  rgba(0, 0, 0, 0.05) 10px,
	  rgba(0, 0, 0, 0.1) 10px,
	  rgba(0, 0, 0, 0.1) 20px
	);
	.message {
		padding: 10% 0 0 10px;
	}
}

.family {
	.title{
		border-color: $family-color;
	}
}
.species {
	.title {
		border-color: $species-color;
	}
}
.genus {
	.title {
		border-color: $genus-color;
	}
}


$searchBar-background: fafafa;
$searchBar-list-font-color: #555;
$searchBar-list-font-color-selected: #111;
.searchBar {
	border-color: #666;
	border-style: solid;
	border-width: 0px 1px 1px 0;
	z-index: 1;

	position:fixed;
	cursor: pointer;
	overflow-y: hidden;

	height: 100%;
	width: $sidebar-width;
	min-width: 300px;
	text-align:center;

	background-color: $searchBar-background;

	.title {
		cursor: pointer; 
		border-bottom: 1px solid #777;
		font-size: $sidebar-title-height;
		text-transform: uppercase;
		text-align: center;
		padding: 0.5rem 0 0.5rem 0;
		a { 
			color: $logo-color;
			&:hover {
				color: $logo-color-hover;
			}
			* { vertical-align: middle; }
			img {
				height: $sidebar-title-height;
			}
			
		}
  		

	}
	.familyList, .generaList, .speciesList {
		display: inline-block;
		vertical-align: text-top;
		width: 33%;
		&:not(:last-child){
			border-color: #AAA;
			border-style: solid;
			border-width: 0 1px 0 0;
		}
		.subtitle {
			text-align: center;
			background-color: white;
			width: 100%;
		}
	}
	ul {
		padding: 0;
		margin: 0;
		height: 100%;
		overflow-y: scroll;
		li {
			word-wrap: break-word;
			-webkit-hyphens: auto;
		   -moz-hyphens: auto;
		    -ms-hyphens: auto;
		        hyphens: auto;
			list-style-type: none;
			color: $searchBar-list-font-color;
			padding: 5px 5px 5px 5px;

			&:hover {
				color: $searchBar-list-font-color-selected;
			}
			&.selected {
				color: $searchBar-list-font-color-selected;
				background-color: white;
				font-weight: bold;
				border-color: #AAA;
				border-style: solid;
				border-width: 1px 0px 1px 0px;
				&:first-child{
					border-width: 0px 0px 1px 0px;
				}
			}
		}
	}
	.familyList {
		.subtitle{
			border-bottom: 3px solid $family-color;
		}
	}
	.generaList {
		.subtitle{
			border-bottom: 3px solid $genus-color;
		}
	}
	.speciesList {
		.subtitle{
			border-bottom: 3px solid $species-color;
		}
	}
	.fake {
		color: #CCC;
	}
	.closeButton {
		font-size: 1.5rem;
		position:absolute;
		top: 1.4rem;
		right: 0.5em;
		color: #8a9ca8;
		&:hover{
			color: $base-font-color-lighter;
		}
		&:after{
			content: " HIDE";
		}
	}
	-webkit-transition: width 0.33s ease-out, height 0.2s ease-out; /* Safari */
    transition:  width 0.33s ease-out, height 0.2s ease-out;
}

.hidden {
	&.searchBar {
		height: $sidebar-title-height + 1.5rem;
		
		.closeButton {
			&:after{
				content: "";
			}
			&:before{
				content: "SHOW ";
			}
		}
	}		
	&.content {
		left: 0%;
		width: 100%;
		> *:not( .default) { padding-top: 2.2rem;}
	}
}

@media screen and (max-width: $break-medium) {
	.species, .genus, .family {
		> .title {
			text-align: center;
		}
	}
	.searchBar {
		width: 100%;
		height: 30%;
		display: none;
	}
	.content {
		width: 100%;
		left: 0;
		top: 30%;
		.default .message{
			display: none;
		}
	}
	.family, .species, .genus { 
			padding-bottom: 250px;
	}
	.hidden {
		&.searchBar {
			width: 100%;
		}
		&.content {
			top: 3rem;
			> *:not( .default) { padding-top: 0;}
		}
		
	}
}