<div id="adminNavbar">
    <div class="title">Treelib</div>
    <div class="item"><a href="/admin/edit_family" >Add Family</a></div>
    <div class="item"><a href="/admin/edit_genus" >Add Genus</a></div>
    <div class="item"><a href="/admin/edit_species" >Add Species</a></div>
    <div class="item"><a href="/admin/family_tree" >Family Tree</a></div>
</div>