<html>
<head>
    <title>Edit Genus</title>
    <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon'/ >
    <link rel="stylesheet" type="text/css" href="/css/edit_genus.css">
</head>
<body>
    <div class="mainContainer">
        <div id="app"></div>
    </div>
    <script type="text/javascript">
        window.pageData = <%= @page_data.to_json %>;
    </script>
    <script src="/js/autres.bundle.js"></script> 
    <script src="/js/edit_genus.js"></script>   
</body>
</html>