<html>
<head>
    <title>Edit Family</title>
    <link rel="stylesheet" type="text/css" href="/css/edit_family.css">
</head>
<body>
    <div class="mainContainer">
        <div id="app"></div>
    </div>
    <script type="text/javascript">
        window.pageData = <%= @page_data.to_json %>;
    </script>
    <script src="/js/autres.bundle.js"></script> 
    <script src="/js/edit_family.js"></script>   
</body>
</html>