<html>
<head>
    <title>Admin Signup</title>
    <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon'/ >
    <link rel="stylesheet" type="text/css" href="/css/admin_signup.css">
</head>
<body>
    <div class="mainContainer">  
        <div id="app"></div>
    </div>
    <script src="/js/autres.bundle.js"></script> 
    <script src="/js/admin_signup.js"></script>   
</body>
</html>