<html>
<head>
    <title>Woops!</title>
    <style>
        body {
            font-family: Arial, "Helvetica Neue", Helvetica,sans-serif;
            color: rgb(77, 78, 83);
            padding:0;
            margin: 0;
            text-align: center;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        a {
            text-decoration: none;
            color: rgb(77, 78, 83);
            font-weight: bold;
        }
        a:hover {
            color:black;
        }
        h1 {
            font-size: 100pt;
            margin: 20px 0 0 0;
        }
    </style>
</head>
<body>
<h1>Woops!</h1>
<p>
Looks like you've arrived at the wrong place - oops. 
</p>
<a href="/">Take me home.</a>
</body>
</html>