<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TreeLib: Search</title>
	<meta property="og:url"           content="http://treelib.ca/search" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="TreeLib: Search " />
    <meta property="og:description"   content="A collection of high-quality tree photographs for educators, students and lay persons." />
    <meta property="og:image"         content="/img/treelib-metapic.jpg" />
	<link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon'/ >
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/search.css">
	<script type="text/javascript" src="/js/analytics.js"></script>
</head>
<body>
	<div id="app"></div>
    <script type="text/javascript">
        window.pageData = <%= @page_data.to_json %>;
    </script>
	<script src="/js/autres.bundle.js"></script> 
    <script src="/js/search.js"></script>
</body>
</html>